.bell-timer {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bell-timer .timer-text {
    position: absolute;
    font-size: 1em;
    margin: 0px;
}

.bell-timer .timer-subtext {
    font-size: 0.4em;
    position: absolute;
    margin-top: 6em;
}

.bell-timer .bell-icon {
    font-size: 1.2em;
    position: absolute;
    margin-bottom: 2em;
}

.bell-schedule {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: .2em;
    padding-bottom: 0px;
    gap: 0em;
    overflow: hidden;
}

.bell-schedule .bell-schedule-title {
    font-size: .5em;
}

.bell-schedule .bell-schedule-type {
    font-size: .2em;
    margin-top: 1em;

}

.bell-schedule .schedule {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
    border-radius: 1em;
    padding: .5em;
    text-align: left;
    font-size: .3em;
    margin-bottom: .2em;
}

.bell-schedule .schedule-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5em;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    font-size: .6em;
    padding: .8em;
}

.bell-schedule .schedule-item.current {
    background-color: var(--primary-color);
}

.upcoming-events {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: .2em;
    padding-bottom: 0px;
    gap: 0em;
    overflow: hidden;
}

.upcoming-events .upcoming-events-title {
    font-size: .4em;
}

.upcoming-events .upcoming-events-body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
    border-radius: 1em;
    padding: .5em;
    text-align: center;
    font-size: .3em;
    margin-bottom: .2em;
}

.upcoming-events .upcoming-event-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    font-size: .6em;
    height: 4em;
    margin-bottom: .5em;
}

.upcoming-events .upcoming-event-item.today {
    background-color: var(--primary-color);
}

.upcoming-events .upcoming-event-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    color: var(--secondary-color);
    border-radius: 50px;
    height: 4em;
    aspect-ratio: 1;
    padding: .2em;
}

.upcoming-events .upcoming-event-date-start {
    color: var(--secondary-color);
    font-size: .8em;
}

.upcoming-events .upcoming-event-date-end {
    color: var(--secondary-color);
    font-size: .8em;
}

.upcoming-events .upcoming-event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: .8em;
    gap: .2em;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.upcoming-events .upcoming-event-name {
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.upcoming-events .upcoming-event-schedule-type {
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2em;
}

.upcoming-events .upcoming-event-schedule-type-inner {
    display: inline-block;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.to-do-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: .2em;
    padding-bottom: 0px;
    gap: 0em;
    overflow: hidden;
}

.to-do-list .to-do-list-title {
    font-size: .5em;
}

.to-do-list .to-do-list-body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border-radius: 1em;
    padding: .8em;
    text-align: left;
    font-size: .4em;
    margin-bottom: .2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .5em;
}

.to-do-list .to-do-list-item {
    cursor: pointer;
}

.to-do-list .to-do-list-add-button {
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    align-self: center;
}